
table {
  border: 2px solid black;
  font-family: arial, sans-serif;
  margin: auto;
  width: 35%;
  
 }

th {
  border: 1px solid   #2F4F4F;
  text-align:center;
 padding: 2%; 
}

.a{
  background-color: #ebf0fa;
} 

.b{
  background-color: #c2d1f0;
}

body{
 background-image: url("box.jpg"); 
} 

h1{
color: #ffffff;
}
